<%- include('./head'); %>
<body >
  <main id="app" v-cloak>
    <div class="w-full h-screen">
      <!-- Wrapper -->
      <div class="w-full h-full grid place-items-center ">
        <!-- Content -->
        <div class="border font-light">
          <!-- Header -->
          <div class="text-lg p-2 px-4">
            Add Employee
          </div>
          <!-- Body -->
          <div class="p-3 w-96">
              <div class="">
                <p class="text-gray-200 text-sm">First name</p>
                <input v-model="data.first_name" type="text" class="border-b p-1 focus:outline-none text-lg w-full" placeholder="Enter First Name">
              </div>
              <div class="">
                <p class="text-gray-200 text-sm">Last name</p>
                <input v-model="data.last_name" type="text" class="border-b p-1 focus:outline-none text-lg w-full" placeholder="Enter Last Name">
              </div>
              <div class="">
                <p class="text-gray-200 text-sm">Position</p>
                <select v-model="data.position" class="border-b p-1 focus:outline-none text-lg w-full">
                  <option value="" selected>Select Position</option>
                  <option value="Web Developer">Web Developer</option>
                  <option value="Web Designer">Web Designer</option>
                  <option value="Manager">Manager</option>
                </select>
              </div>
              <div class="flex justify-end pt-4">
                <button @click="handleUpdate()" :disabled="!data.first_name || !data.last_name || data.position === ''" class="px-5 py-3 text-white bg-green-500 text-lg disabled:bg-green-200">Save</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  createApp({
    data() {
      return {
        data: {
          id: '<%- employee.id %>',
          first_name: '<%- employee.first_name %>',
          last_name: '<%- employee.last_name %>',
          position: '<%- employee.position %>',
        }
      }
    },

    methods: {
      handleUpdate() {
        try {
          axios.post('/api/employee/update', this.data)

          window.location.href = '/employees'
        } catch (err) {
          console.log(err)
        }
      }
    }
  }).mount('#app')
</script>
</body>
</html>